<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head::head('Валюты')}"></head>
<body>
    <div th:replace="~{fragments/header::header}"></div>
    <div class="container mt-5 pt-5">
        <h1>Валюты</h1>
        <h2>
            Всего найдено:
            <span th:text="${valutesPage.getTotalElements()}"></span>
        </h2>
        <table class="table table-sm table-hover table-success">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th>Номинал</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="valute : ${valutes}">
                    <td th:text="${valute.charCode}"></td>
                    <td th:text="${valute.name}"></td>
                    <td th:text="${valute.nominal}"></td>
                    <td>
                        <a th:href="@{/like/valute/} + ${valute.id}" class="js-like" sec:authorize="isAuthenticated()">
                            <i class="far fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>
            <a th:if="${pagination.pageNumber} > 0" th:href="@{/valutes(page=${pagination.pageNumber} - 1,size=${pagination.pageSize})}">&laquo;</a>
            <span th:text="${pagination.pageNumber} + 1"></span> /
            <span th:text="${pages}"></span>
            <a th:if="${pagination.pageNumber} < ${pages} - 1" th:href="@{/valutes(page=${pagination.pageNumber} + 1,size=${pagination.pageSize})}">&raquo;</a>
        </h3>
    </div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/fontawesome.js}"></script>
    <script>
        $(document).ready(function () {
            $(".fa-heart.fas").hide();
            $(".js-like").click(function (event) {
                event.preventDefault();
                const like = $(event.currentTarget);
                $.ajax({
                    url: like.attr("href"),
                    method: "POST",
                    success: function (response) {
                        console.log(response);
                        if (response) {
                            like.find(".fa-heart").attr("data-prefix", "fas");
                        } else {
                            like.find(".fa-heart").attr("data-prefix", "far");
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>