<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Валюты</title>
</head>
<body>
    <h1>Валюты</h1>
    <h2>
        Всего найдено:
        <span th:text="${total}"></span>
    </h2>
    <table>
        <thead>
            <tr>
                <th>Код</th>
                <th>Наименование</th>
                <th>Номинал</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="valute : ${valutes}">
                <td th:text="${valute.charCode}"></td>
                <td th:text="${valute.name}"></td>
                <td th:text="${valute.nominal}"></td>
            </tr>
        </tbody>
    </table>
    <h3>
        <a th:if="${page} > 1"th:href="@{/valutes(page=${page}-1)}">&laquo;</a>
        <span th:text="${page}"></span> /
        <span th:text="${pages}"></span>
        <a th:if="${page} < ${pages}" th:href="@{/valutes(page=${page}+1)}">&raquo;</a>
    </h3>
</body>
</html>